.seccionModificar{
    display: flex;
    justify-content: space-between;
} 

.lapizbtn{
    width: 70px;
    font-size: 1.5em;
    height: 168px;
    border: none;
    border-radius: 8px;
    margin: 3px;
    cursor: pointer;
    color: rgb(19, 71, 214);
}

.lapizbtn:hover{
    transition: 0.5s;
    background-color: rgb(19, 71, 214);
    color: white;
}

.bsuqueda{
    width: 500px;
    height: 30px;
    color: white;
    margin-bottom: 25px;
}

.edit{
    margin-left: 10px;
    height: 31px;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(19, 71, 214);
    color: white;
    cursor: pointer;
}

.edit:hover{
    transition: 0.5s;
    background-color: rgb(79, 120, 235);
    color: white;
}
.editt:hover{
    transition: 0.5s;
    background-color: rgb(79, 120, 235);
    color: white;
}

.formularioEdit{
    padding: 15px;
}

.formularioEdit input{
    margin: 7px;
    color: rgb(20, 20, 20);
}

.formularioEdit label{
    height: 170px;
}

.editt{
    margin-left: 10px;
    height: 31px;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(19, 71, 214);
    color: white;
    cursor: pointer;
    float: right;
}